<div class="wq-photo-model clearfix">
  <div class="wq-photo-owner">
    <img src="http://roundbl.cafe24.com/TEST/profile.png" alt="owner" />
  </div>
  <div class="wq-photo">
    <img class="wq-photo-image" src="<%=photo.url%>" alt="photo" />
    <div class="wq-photo-overlay">
      <img src="/images/heart.png" alt="like" />
      <p class="likes">+<%=(i+1)*10000%></p>
    </div>
  </div>
</div>