<!-- Embedded JavaScript -->

<% layout('layout') -%>

<section class="photo-gallery clearfix">
    <% for(var i=0; i<photos.length; i++) { %>
      <%- partial ('./template/photo/photo', { photo: photos[i], i: i }) %>
    <% } %>
</section>
