<div class="wg-category-photo-model clearfix">
  <div class="wg-category-photo">
    <img class="wg-category-photo-image" src="<%=photo.url%>" alt="photo" />
    <div class="wg-category-photo-overlay">
      <img src="/images/heart.png" alt="like" />
      <p class="likes">+ 1234? </p>
    </div>
  </div>
</div>