<!-- Embedded JavaScript -->

<% layout('../layout') -%>

<h1>올릴거 여기에 써 시밸루마.</h1>
<form action="/photo" method="POST">
  <input name="url" type="text" placeholder="URL"/>
  <input name="text" type="text" placeholder="TEXT"/>
  <input name="tag" type="text" placeholder="TAG"/>
  <input type="submit" />
</form>